  <footer>
        <p class="logo-texto-footer">METAGAMING</p>
        <section class="contenedor-footer">
            <section class="sections-footer1">
                <p class="subtitulo-footer">Seguinos en nuestras redes</p>
                <div class="contenedor-redes">
                    <button class="redes" type="button"><i class="fab fa-instagram"></i></button>
                    <button class="redes" type="button"><i class="fab fa-youtube"></i></button>
                    <button class="redes" type="button"><i class="fab fa-twitter"></i></button>
                </div>
            </section>
            <section class="sections-footer2">
                <a href="/product/tienda" class="footerInfo">Conoce todos nuestros juegos en nuestra Tienda! <i class="fas fa-arrow-circle-left"></i></a> <br><br>
                <a href="/user/registro" class="footerInfo">Regístrate en nuestra página para poder disfrutar al máximos nuestro servicios! <i class="fas fa-arrow-circle-left"></i></a> <br><br>
                <a href="/user/login" class="footerInfo">Si ya tenes una cuenta logueate para poder seguir desgrutando de nuestros servicios! <i class="fas fa-arrow-circle-left"></i></a>
            </section>
            <section>
                <p class="copyright">Copyright 2021</p>
            </section>
        </section>
    </footer>