
    <header>
        <nav id="nav-bar">
                <section id="superior">
                    <a href="/"  id="logohiper"><p class="logo-texto">METAGAMING</p></a>
                    <p class="logo-texto2">MG</p>
                    <section id="botones-center">
                        <div id="container">
                            <form role="search" id="searchform" >
                              <label for="s">
                                <i class="fas fa-search"></i>
                              </label>
                              <input type="text"  value="" placeholder="search" class="" id="s" />
                            </form>
                            </div>                        
                      
                        <% if (locals.isLogged) { %>       
                          <a href="/user/usuario" id="nombreLogeado"><%= locals.usuarioLogueado.nombre  %></a>
                    
                          <a href="/user/usuario"><button class="usuario" type="button"><i class="fas fa-user-circle"></i></button></a>
                          <a href="/carrito"><button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button></a>

                         <% } else { %> 

                          <a href="/user/login" id="cambio">LOGIN</a>

                       
                        <% } %> 
                    </section> 
                </section>
                <section id="inferior">
                    <article id="botones-inferiores">
                        <a href="/product/tienda" id="boton1" class="btn-group btn-group-block"><button class="botonInferiores">IR A TIENDA</button></a>
                        <a href="/product/crear" id="boton2" class="btn-group btn-group-block"><button class="botonInferiores">CREAR PRODUCTO</button></a>
                    </article>
                </section>
        </nav> 
     
    </header>
