
    <header>
        <!--<nav id="nav-bar">
            
            <p class="logo-texto">METAGAMING</p>
            <p class="logo-texto2">MG</p>
            <section id="botones-center">
                <button class="usuario" type="button"><i class="fas fa-search"></i></i></button>
                <a href="/product/tienda"><button class="usuario" type="button"><i class="fas fa-shopping-basket"></i></button></a>
                <a href="/product/crear"><button class="usuario" type="button"><i class="fas fa-plus"></i></button></a>
                <a href="/carrito"><button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button></a>
                <a href="/user/login"><button class="usuario" type="button"><i class="fas fa-user-circle"></i></button></a>
            </section>
        </nav> -->
        <nav id="nav-bar">
                <section id="superior">
                    <p class="logo-texto">METAGAMING</p>
                    <p class="logo-texto2">MG</p>
                    <section id="botones-center">
                        <div id="container">
                            <form role="search" id="searchform" >
                              <label for="s">
                                <i class="fas fa-search"></i>
                              </label>
                              <input type="text"  value="" placeholder="search" class="" id="s" />
                            </form>
                            </div>                        
                        <a href="/carrito"><button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button></a>
                        <a href="/user/login"><button class="usuario" type="button"><i class="fas fa-user-circle"></i></button></a>
                    </section>
                </section>
                <section id="inferior">
                    <article id="botones-inferiores" >
                        <button id="boton1" class="btn-group btn-group-block">IR A TIENDA</button>
                        <button  id="boton2" class="btn-group btn-group-block">CREAR PRODUCTO</button>
                    </article>
                </section>
        </nav> 
    
    </header>
