<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../css/carrito.css"/>
    <%- include("./partials/head") %>
<body>

    <%- include("./partials/header") %>
    
    <main>
        
        <div class="flex-carrito">

            <section class="columnas-carrito">
                <article class="titulos-carrito">
                    <p>CARRITO</p>
                    <p class="titulos-chicos-carrito">1 OBJETO</p>
                </article>
                <article id="info-carrito" class="subtitulos-carrito">
                    
                    <div class="info-texto-carrito">
                        <div id="item-en-seccion">
                    
                        </div>
                    </div>
                </article>
                <article class="subtitulos-carrito">
                    <p>SUBTOTAL:</p>
                    
                </article>
            </section>

            <section class="columnas-carrito">
                <article class="titulos-carrito">
                    <p>RESUMEN</p>
                </article>
                <article class="subtitulos-carrito">
                    <p>DESCUENTO:</p>
                    <p class="descuento-carrito"> % </p>
                </article>
                <article class="subtitulos-carrito">
                    <p>TOTAL:</p>
                    
                </article>
                <div class="botones-carrito">
                    <button type="button" class="btn btn-success">Comprar</button>
                    <button type="button" class="btn btn-primary">Seguir Compra</button>
                </div>

            </section>

        </div>

    </main>

    <%- include("./partials/footer") %>
 

    <script src="/js/carrito.js"></script>
</body>
</html>