<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/detalle.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>        
        <nav id="nav-bar">
            <img id="logo" src="./img/logo.png"></img>
            <section id="botones-center">
                <button class="botones-tienda" type="button">TIENDA</button>
                <button class="botones-tienda" type="button">NOVEDADES</button>
            </section>
            <section id="botones-izq">
                <button class="usuario" type="button"><i class="fas fa-search"></i></i></button>
                <button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button>
                <button class="usuario" type="button"><i class="fas fa-user-circle"></i></button>
            </section>
        </nav>       
    </header>
    <main>
        <div id="productos">
            <section id="lado-izquierdo">
                <img id="foto-producto" src="./img/oferta2.jpg"> 
                <br>
                <h3>Acerca del juego</h3>
                <p id="info-juego">Frostpunk, el título más reciente de los creadores de This War of Mine, es un juego de supervivencia en sociedad donde el calor es fuente de vida y cada decisión tiene un precio. En un mundo totalmente congelado, la humanidad ha desarrollado una tecnología basada en el vapor para hacer frente al frío implacable. Tu tarea consiste en construir la última ciudad de la Tierra y conseguir los recursos necesarios para que tu comunidad sobreviva.</p>
                <p>La gestión de recursos y su optimización a menudo chocan con la empatía y con las decisiones razonables. Aunque la administración de la ciudad y de su sociedad consume la mayor parte del tiempo del gobernante, llega un punto en el que se hace necesario explorar el mundo exterior para comprender su historia y su situación actual.
                    ¿Qué decisiones tomarás para asegurar la supervivencia de tu sociedad? ¿Qué harás cuando estés entre la espada y la pared? ¿En qué te convertirás durante el proceso?</p> 
                <section id="especificaiones">
                    <section>
                        <ul>
                            <li>11 bit studios</li>
                            <li><i class="fab fa-windows"></i> Windows 7/8/10 de 64 bits</li>
                            <li>4 GB de RAM</li>
                            <li>8 GB de espacio disponible</li>
                        </ul>
                    </section>  
                    <section>
                        <ul>
                            <li>Procesador Dual Core a 3,2 GHz</li>
                            <li>GeForce GTX 660, Radeon R7 370 o equivalente con 2 GB de VRAM</li>
                            <li>idioma: inglés</li>
                        </ul>
                    </section>           
                </section>
                            
                </section>
            <section id="lado-derecho">
                <img id="logo-producto" src="./img/oferta1.jpg">
                <p>$1498</p>
                <button id="comprar" type="button">comprar</button>
                <button id="agregar-carrito" type="button">agregar al carrito</button>
            </section>         
        </div>    
    </main>
    
    
    
    
    <footer></footer>
</body>
</html>