<!DOCTYPE html>
<html lang="en">
    
        <link rel="stylesheet" href="./css/style.css"/>
        <%- include("./partials/head") %>

<body>
    
    <%- include("./partials/header") %>
    <main>
        <div id="novedades">
            <section id="banner1"><img id="banners1" src="./img/banner1.jpg"></img></section>
            <section id="banner2"><img id="banners2" src="./img/banner2.jpg"></img></section>
            <section id="banner3"><img id="banners3" src="./img/banner3.jpg"></img></section> 
        </div>
        <p id="subtitulo">DESTACADO</p>
        <div id="destacado">
            <img id="destacado-juego" src="./img/oferta1.JPG">
                <div id="banner-info">
                    <div id="juego-banner">
                        <section class="movimiento-banner"><img class="destacado-banner" src="./img/oferta2.JPG"></section>
                        <section class="movimiento-banner"><img class="destacado-banner" src="./img/oferta3.JPG"></section>   
                        <section class="movimiento-banner"><img class="destacado-banner" src="./img/oferta4.JPG"></section>                   
                    </div >
                        <div id="box-info">
                            <p id="info">Frostpunk es el primer juego de supervivencia de una sociedad. Como dirigente de la última ciudad del mundo, tu deber será el de lidiar tanto con los ciudadanos como con la infraestructura. ¿Qué harás cuando estés entre la espada y la pared? ¿En quién te convertirás para conseguirlo?</p>
                        <a href="/detalle"><button id="ver-mas" type="button" >Ver mas</button></a>
                        </div>
                </div>    
        </div>
        <br>
        <br>    
    </main>
    
    <%- include("./partials/footer") %>

</body>
</html>