<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav id="nav-bar">
            <img id="logo" src="./img/logo.png"></img>
            <section id="botones-center">
                <button class="botones-tienda" type="button">TIENDA</button>
                <button class="botones-tienda" type="button">NOVEDADES</button>
            </section>
            <section id="botones-izq">
                <button class="usuario" type="button"><i class="fas fa-search"></i></i></button>
                <button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button>
                <button class="usuario" type="button"><i class="fas fa-user-circle"></i></button>
            </section>
        </nav> 
    </header>
    <main>
        <div id="novedades">
            <section id="banner1"><img id="banners1" src="./img/banner1.jpg"></img></section>
            <section id="banner2"><img id="banners2" src="./img/banner2.jpg"></img></section>
            <section id="banner3"><img id="banners3" src="./img/banner3.jpg"></img></section> 
        </div>
        <p id="subtitulo">DESTACADO</p>
        <div id="destacado">
            <img id="destacado-juego" src="./img/oferta1.JPG">
                <div id="banner-info">
                    <div id="juego-banner">
                        <section class="movimiento-banner"><img class="destacado-banner" src="./img/oferta2.JPG"></section>
                        <section class="movimiento-banner"><img class="destacado-banner" src="./img/oferta3.JPG"></section>   
                        <section class="movimiento-banner"><img class="destacado-banner" src="./img/oferta4.JPG"></section>                   
                    </div >
                        <div id="box-info">
                            <p id="info">Frostpunk es el primer juego de supervivencia de una sociedad. Como dirigente de la última ciudad del mundo, tu deber será el de lidiar tanto con los ciudadanos como con la infraestructura. ¿Qué harás cuando estés entre la espada y la pared? ¿En quién te convertirás para conseguirlo?</p>
                        <button id="ver-mas" type="button" href="./views/detalle.html">Ver mas</button>
                        </div>
                </div>    
        </div>
        <br>
        <br>    
    </main>
    <footer>
        <section id="logo-redes">
            <img id="logo-pie" src="./img/logo.png">
                <section>
                    <button class="redes" type="button"><i class="fab fa-instagram"></i></button>
                    <button class="redes" type="button"><i class="fab fa-youtube"></i></button>
                    <button class="redes" type="button"><i class="fab fa-twitter"></i></button>
                </section>
            </section>
    </footer>
</body>
</html>