<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav id="nav-bar">
            <img id="logo" src="./img/logo.png"></img>
            <section id="botones-center">
                <button class="botones-tienda" type="button">TIENDA</button>
                <button class="botones-tienda" type="button">NOVEDADES</button>
            </section>
            <section id="botones-izq">
                <button class="usuario" type="button"><i class="fas fa-search"></i></i></button>
                <button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button>
                <button class="usuario" type="button"><i class="fas fa-user-circle"></i></button>
                <button class="usuario" type="button">sign in</button>
            </section>
        </nav> 
    </header>
    <main>
        <div id="novedades">
            <section id="banner1"><img id="banners1" src="./img/banner1.jpg"></img></section>
            <section id="banner2"><img id="banners2" src="./img/banner2.jpg"></img></section>
            <section id="banner3"><img id="banners3" src="./img/banner3.jpg"></img></section> 
        </div>
    </main>

    <footer></footer>
</body>
</html>