<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Formulario de Registro</title>
</head>

<body>

    <header>
        <nav id="nav-bar">
            <img id="logo" src="./img/logo.png"></img>
            <section id="botones-center">
                <button class="botones-tienda" type="button">TIENDA</button>
                <button class="botones-tienda" type="button">NOVEDADES</button>
            </section>
            <section id="botones-izq">
                <button class="usuario" type="button"><i class="fas fa-search"></i></i></button>
                <button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button>
                <button class="usuario" type="button"><i class="fas fa-user-circle"></i></button>
            </section>
        </nav> 
      </header>
    
      <main>
    

    <section class="form-registro">
        <h1>CREA TU USUARIO </h1>
   
    <h5>Completa tus datos para crear tu cuenta</h3>
        <input class="casillero" type="text" name="nombres" id="nombres" placeholder="Nombre y Apellido">
        <input class="casillero" type="email" name="email" id="email" placeholder="E-mail">
        <input class="casillero" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario">
        <input class="casillero" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
        <input class="casillero" type="text" name="pais" id="pais" placeholder="Pais">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a> </p>
        <input class="boton" type="submit" value="Registrar">
        <p><a href="#">Ya Tengo Cuenta</a></p>
    </section>
</main>

<footer>
    <section id="logo-redes">
        <img id="logo-pie" src="./img/logo.png">
            <section>
                <button class="redes" type="button"><i class="fab fa-instagram"></i></button>
                <button class="redes" type="button"><i class="fab fa-youtube"></i></button>
                <button class="redes" type="button"><i class="fab fa-twitter"></i></button>
            </section>
        </section>
</footer>
</body>
</html>
