*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
    font-family: Verdana, sans-serif;
}


/*main*/

main{
    background-image: url("/img/fondo-carrito.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: center center;
    border: solid 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.titulos-carrito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 50px;
    box-shadow: 4px 4px rgb(255, 255, 255);
    margin-bottom: 25px;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

.titulos-chicos-carrito{
    font-size: 30px;
    margin-top: 15px;
    font-weight: normal;
}

.subtitulos-carrito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
    font-size: 30px;
    box-shadow: 4px 4px rgb(30, 30, 30);
    margin-bottom: 25px;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
}


.columnas-carrito img{
    width: 200px;
    height: 242px;
    border: solid 4px black;
}

#info-carrito{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-texto-carrito{
    margin-left: 10px;
}

.texto-chico-carrito{
    font-size: 23px;
}

.descuento-carrito{
    color: #00ff00;
}

.inpus-carrito{
    padding-bottom: 15px;
}

.botones-carrito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.total-subtotal-descuento-js{
    font-size: 30px;
    margin-top: 5px;
}

/*main*/


@media (min-width: 360px) and (max-width:769px){

    
    /*MAIN*/

    main{
        background-color: black;
        background-image: url("/img/fondo2-carrito.png");
        background-size: 769px 1367px;
    }

    .titulos-carrito{
        font-size: 40px;
        padding-right: none;
        box-shadow: none;
    }

    .titulos-chicos-carrito{
        font-size: 20px;
        margin-top: 17px;
    }
    
    
    .subtitulos-carrito{
        font-size: 30px;
        padding-right: none;
        box-shadow: none;
    }

    .columnas-carrito img{
        display: none;
    }

    /*MAIN*/

}

@media (min-width: 770px) and (max-width:1079px){

    /*MAIN*/
    
    main{
        background-color: black;
        background-image: url("/img/fondo3-carrito.png");
        background-size: 1080px 1920px;
    }

    /*MAIN*/

}