body{
    margin: 0%;
    padding: 0%;
    background-color: #37383a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
 
/*main*/


main{
    background-color: #0b0b0f;
    width: 100%;
    height: 100%;
    
}
#productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#titulo-juego{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
}

#lado-izquierdo{
    display: flex;
    flex-direction: column;
    margin: 7% 3% 10% 10%;
    color: white;
    
}



/*slider


#container-slider{
   margin: auto;
   width: 800px;
   padding: 30px;
}
#container-slider li{
    padding: 0%;
    margin: 0%;
    list-style: none;
}
#sliders{
    position: relative;
    width: 800px;
    height: 450px;
}
#sliders li{
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    background: #fff;
    transition: opacity .5s;
}
#sliders li img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
#sliders li:first-child{
    opacity: 1;
}
#sliders li:target{
    opacity: 1;
}
#menu-sliders{
    text-align: center;
    margin: 20px;
}
#menu-sliders li{
    display: inline-block;
    text-align: center;
}
#menu-sliders li a{
    display: inline-block;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 3px;
    height: 3px;
    font-size: 20px;
    border-radius: 100%;

}
#menu-sliders li a:hover{
    background-color: black;
}
*/

.info-juego{
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#especificaciones-caja{
    display: flex;
    flex-direction: row;
}
#lado-derecho{
    display: flex;
    flex-direction: column;
    margin: 7% 10% 10% 10%;
}
#contenedor-derecho{
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
}
#precio{
    color: white;
    margin-top: 3%;
    margin-left: 2%;
}
#agregar-carrito{
    width: 100%; 
    height: 48px;
    background-color: #3B5B9C;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
#botones-formu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 35px;
}
#productos-similares{
    display: flex;
    flex-direction: row;
    background-color: #212124;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    height: 350px;
    box-shadow: rgba(77, 77, 119, 0.548) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;}
#titulo-similares{
    margin-left: 10%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foto-similar{
    width: 100%;
    height: 85%;
}
.similares{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1%;

}
.info-similares{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* media */


@media (min-width: 770px) and (max-width:1079px){
    body{
        width: 100%;
    }
    #sliders{
        height: 40vh;   
    }
    #sliders li{
        margin-left: 37%;
        width: 60vw;
        height: 40vh; 
    }
    #sliders li img{
        height: 40vh;
    }
    #productos{
        width: 45vw;
    }
    #menu-sliders{
        margin-left: 39%;
    }
    #lado-derecho{
        width: 20vw; 
        height: 50vh;
        margin-top: 17%;
    }
    #caja-info{
        margin-left: 48%;
        width: 80vw;
        height: 70vh;
        font-size: 15px;
    }
    .info-similares{
        font-size: 12px;
    }
    .logo-texto2{
        display: none;
    }
}



@media (min-width: 360px) and (max-width:769px){
    body{
        width: 100%;
    }
    .logo-texto{
        display: none;
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }
    #productos{
        display: flex;
        flex-direction: column-reverse;
    }
    #container-slider{
        display: none;
    }    
    #info2{
        display: none;
    }
    #titulo-similares{
        display: none;
    }
    #productos-similares{
        display: none;
    }
    #especificaciones-caja{
       font-size: 12px;
       display: flex;
       flex-direction: column;
    }
}
