
body{
    margin: 0%;
    padding: 0%;
    background-color: #37383a;
    font-family: Verdana, sans-serif;
    color: white;
}
 
/*main*/


main{
    background-color: #0b0b0f;
    width: 100%;
    
}
#productos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#titulo-juego{
    text-align: start;
    color: white; 
    font-size: 30px;
    width: 1050px;
    padding-top: 30px;
    padding-bottom: 32px;
    border-bottom: solid white 2px;
    
}

#lado-izquierdo{
    display: flex;
    flex-direction: column;
    margin: 7% 0% 6% 10%;
    color: white;
    
}

.info-juego{
    font-size: 16px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
}

#especificaciones-caja{
    display: flex;
    flex-direction: row;
}
#lado-derecho{
    display: flex;
    flex-direction: column;
    margin: 7% 10% 10% 10%;
    width: 100%;

}
#caja-info{
    margin: 1.5%;
}

#contenedor-derecho{
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
}
img{
    width: 250px;
    height: 350px;
}
#precio-descuento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: 18px;
}
#precio{
    color: white;
    margin-top: 3%;
    margin-left: 2%;
}
#descuento{
    color: rgb(21, 255, 0);
    margin-top: 3%;
    margin-left: 2%;
}
#agregar-carrito{
    width: 100%; 
    height: 48px;
    background-color: #3B5B9C;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
#botones-formu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 35px;
}




/* media */


@media (min-width: 770px) and (max-width:1079px){
    body{
        width: 100%;
    }
    #sliders{
        height: 40vh;   
    }
    #sliders li{
        margin-left: 37%;
        width: 60vw;
        height: 40vh; 
    }
    #sliders li img{
        height: 40vh;
    }
    #productos{
        width: 45vw;
    }
    #menu-sliders{
        margin-left: 39%;
    }
    #lado-derecho{
        width: 20vw; 
        height: 50vh;
        margin-top: 17%;
    }
    #caja-info{
        margin-left: 48%;
        width: 80vw;
        height: 70vh;
        font-size: 15px;
    }
    .info-similares{
        font-size: 12px;
    }
    .logo-texto2{
        display: none;
    }
}



@media (min-width: 360px) and (max-width:769px){
    body{
        width: 100%;
    }
    .logo-texto{
        display: none;
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }
    #productos{
        display: flex;
        flex-direction: column-reverse;
    }
    #container-slider{
        display: none;
    }    
    #info2{
        display: none;
    }
    #titulo-similares{
        display: none;
    }
    #productos-similares{
        display: none;
    }
    #especificaciones-caja{
       font-size: 12px;
       display: flex;
       flex-direction: column;
    }
}
