*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%; 
}


/* main */
main {
    background-image: url("../img/fondo-fifa.jpg");
    background-repeat: repeat;
    background-size: 1920px 1080px;
    background-position: center center;
    border: solid 3px white; 
    padding-bottom: 8.2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cajaformulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px;
    margin: 10% 35%;
    backdrop-filter: blur(5px);
    box-sizing:border-box;
    
   
}
#logocaja{
    width: 35%;
    height: 35%;
}


#boton-registro{
   float:right;
   padding:8px 12px;
   margin:8px 0 0;
   font-family:arial;
   font-weight: bold;
   text-transform: uppercase; 
   border-radius: 5px;
   background:rgb(253, 50, 50, 0.5);
   color:black;
   cursor:pointer;
    
} 
 
#boton-registro:link{
    color: black;
}   
#boton-registro:visited{
     color: black;
    
}
 


@media (min-width: 360px) and (max-width:769px){
    
    .logo-texto{
        display: none;
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }

    
    .cajaformulario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: none;
        box-shadow: none;
        margin: 10% 35%;
        backdrop-filter: none;
    }
    #logocaja{
        width: 75%;
    }
    main{
        padding-bottom: 130%;
       
    }
}
@media (min-width: 770px) and (max-width:1079px){
    main{
        padding-bottom: 130%;
        
       
    }

}