
/*HEADER 2*/
header{
    background-color: rgb(36, 36, 37);
}

#nav-bar{
    display: flex;
    flex-direction: column;
} 
#botones-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*buscador con movimiento*/

#container{
    margin:auto;
    text-align:center;
  }
  #searchform{
    display:inline;
    font-size:1em;
    border-radius: 8em;
    border:0.1em solid rgba(255, 166, 0, 0);
    box-shadow:0 0 0.3em rgba(236, 10, 10, 0);
    padding:0.3em;
    background: transparent;

  }
  #s{
    transition:all 0.2s ease-out;
    width:15px;
    border-radius:0;
    box-shadow:none;
    outline: none;
    padding:0;
    margin:0;
    border:0;
    background-color: transparent;
    opacity:0;

  }
  #s:focus{
    width:8em;
    opacity:1;
  }
  label{
    padding-left: 1px;
    display:inline-block;
    margin-top:0.3em;
    color:rgba(218,208,190,1);
    text-shadow:0 0 0.1em rgba(7, 6, 6, 0.979);
    position: relative;
    left:0.1em;
    color: white;
  }
/*buscador con movimiento*/

#superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#inferior{
    height: 40px;
    
}
#botones-inferiores{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    align-items: center;
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 100%;
}
.btn-group {
    width: 50%;
    height: 100%;
    align-items: center;
    background-color: transparent;
    color: black;
    border:none;
    padding-left: 25%;
}
#boton1{
    background-color: #FED766;
    font-weight: 500;
}
#boton2{
    background-color: #444054;
    font-weight: 500;

}

.logo-texto{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    margin-left: 20px;
}

.logo-texto2{
    display: none;
}

.botones-tienda{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.usuario{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 17px;
    color: white;
    margin-right: 20px;
}


/*prueba usuario hover*/





/*prueba usuario hover*/



/*HEADER 2*/

/* footer */

footer{
    background-color: black;
    height: 175%;
    width: 100%;
    
}
.logo-texto-footer{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
#logo-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    background-color: Transparent;
    background-repeat:no-repeat;
    margin-bottom: 9px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    color: white;
}

/* FOOTER */

/* MEDIA */

@media (min-width: 770px) and (max-width:1079px){

    /*HEADDER*/
    
    .logo-texto2{
        display: none;
    }

    /*HEADDER*/
}

@media (min-width: 360px) and (max-width:769px){

    /*HEADDER*/

    .logo-texto{
        display: none;
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }

    /*HEADDER*/
}