/* header*/

header{
    background-color: black;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 50px; 
    height: 50px;
    margin-left: 20px;
}

.logo-texto{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    margin-left: 20px;
}

.logo-texto2{
    display: none;
}

.botones-tienda{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.usuario{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 17px;
    color: white;
    margin-right: 20px;
}


/* footer */

footer{
    background-color: black;
    height: 175%;
    width: 100%;
    
}
.logo-texto-footer{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
#logo-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    background-color: Transparent;
    background-repeat:no-repeat;
    margin-bottom: 9px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    color: white;
}

/* FOOTER */

/* MEDIA */

@media (min-width: 770px) and (max-width:1079px){

    /*HEADDER*/
    
    .logo-texto2{
        display: none;
    }

    /*HEADDER*/
}

@media (min-width: 360px) and (max-width:769px){

    /*HEADDER*/

    .logo-texto{
        display: none;
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }

    /*HEADDER*/
}