/*prueba menu usuario*/
.bg-custom-1 {
    background-color: #85144b;
  }
  
.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }
/*prueba menu usuario*/

/*HEADER 2*/
header{
    background-color: rgb(36, 36, 37);
}

#nav-bar{
    display: flex;
    flex-direction: column;
} 
#botones-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#logohiper{
    text-decoration: none;
}
#cambio{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 15px;
}
#nombreLogeado{
    font-size: 18px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0%;
    text-decoration: none;
}
/*buscador con movimiento*/

#container{
    margin:auto;
    text-align:center;
  }
  #searchform{
    display:inline;
    font-size: 18px;
    border-radius: 8em;
    border:0.1em solid rgba(255, 166, 0, 0);
    box-shadow:0 0 0.3em rgba(236, 10, 10, 0);
    padding:0.3em;
    background: transparent;

  }
  #s{
    transition:all 0.2s ease-out;
    width:15px;
    border-radius:0;
    box-shadow:none;
    outline: none;
    padding:0;
    margin:0;
    border:0;
    background-color: transparent;
    opacity:0;

  }
  #s:focus{
    width:8em;
    opacity:1;
  }
  label{
    padding-left: 1px;
    display:inline-block;
    margin-top:0.3em;
    color:rgba(218,208,190,1);
    text-shadow:0 0 0.1em rgba(7, 6, 6, 0.979);
    position: relative;
    left:0.1em;
    color: white;
  }
/*buscador con movimiento*/

#superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#inferior{
    height: 40px;
    
}
#botones-inferiores{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    align-items: center;
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 100%;
}
.btn-group {
    width: 50%;
    height: 100%;
    align-items: center;
    background-color: transparent;
    color: black;
    border:none;
    text-align: center;
}
#boton1{
    background-color: #FED766;
    font-weight: 500;
    text-decoration: none;
}
#boton2{
    background-color: #444054;
    font-weight: 500;
    text-decoration: none;

}
.botonInferiores{
    background-color: transparent;
    color: black;
    font-size: 18px;
    border:none;
    font-weight: 600;
    padding: 9px;
}

.logo-texto{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Do Hyeon', sans-serif;
    border: solid 3px;
    border-color: white;
   
}

.logo-texto2{
    display: none;
}

.botones-tienda{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.usuario{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 18px;
    color: white;
    margin-right: 15px;
}
/*HEADER 2*/

/* footer */

footer{
    background-color: black;
    height: 175%;
    width: 100%;
    
}
.logo-texto-footer{
    text-align: center;
    color: white; 
    font-family: 'Do Hyeon', sans-serif;

    font-size: 18px;
    width: 1100px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid white 2px;
}
.contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 17px;
    align-items: center;
}
.sections-footer1{
    width: 400px;
    text-align: center;
}
.sections-footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: justify;
}
.sections-footer2 a{
    color: rgb(161, 161, 161);
    text-decoration: none;
}
.subtitulo-footer{
    color: rgb(161, 161, 161);
    text-align: center;
}
.redes{
    background-color: Transparent;
    background-repeat:no-repeat;
    margin-bottom: 9px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: rgb(161, 161, 161);
    font-size: 18px;
}
.footerInfo{
    margin-top: 2%;
    width: 25%;
}

/* FOOTER */

/* MEDIA */

@media (min-width: 770px) and (max-width:1079px){

    /*HEADDER*/

    .logo-texto-footer{
        width: 90vw;
    }
    
    .logo-texto2{
        display: none;
    }

    .sections-footer1{
        width: 375px;
    }

    .footerInfo{
        margin-top: 2%;
        width: 25%;
    }

    /*HEADDER*/
}

@media (min-width: 360px) and (max-width:769px){

    /*HEADDER*/

    .logo-texto-footer{
        width: 70vw;
    }

    .logo-texto{
        display: block;
    }
    
    .logo-texto2{
        display: none;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }

    .sections-footer2{
        display: none;
    }


    /*HEADDER*/
}