body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* header */ 

header{
    background-color: black;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 50px; 
    height: 50px;
    margin-left: 20px;
}

.logo-texto{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    margin-left: 20px;
}

.logo-texto2{
    display: none;
}

.botones-tienda{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.usuario{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 17px;
    color: white;
    margin-right: 20px;
}


/* MAIN */


main{
    width: 100%;
    background-color: #131823;
}
#carouselExampleIndicators{
    display: none;
}
#novedades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#banners1{
    width: 645px;
    transition: 1.0s;
    height: 800px;
}
#banners2{
    width: 645px;
    height: 800px;
    transition: 1.0s;
}
#banners3{
    width: 635px;
    height: 800px;
    transition: 1.0s;
}
#banner1:hover #banners1{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
#banner1{
    overflow: hidden;
}
#banner2:hover #banners2{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
#banner2{
    overflow:hidden;
}
#banner3:hover #banners3{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
#banner3{
    overflow:hidden;
}
#subtitulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#destacado{
    display: flex;
    flex-direction: row;
}
#destacado-juego{
    margin-left: 30px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#banner-info{
    display: flex;
    flex-direction: column;
}
#juego-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}

.destacado-banner{
    width:110%;
    height: 85%;
    transition: 0.2s;
    overflow:hidden;
}
#box-info{
    margin-left: 5%;
    width: 60%;
    height: 20%;
}
#info{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#ver-mas{
    padding: 2%;
    height: 48px;
    background-color: #3B5B9C;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
.movimiento-banner:hover .destacado-banner{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1.5s;
}


/* footer*/

footer{
    background-color: black;
    height: 175%;
    width: 100%;
    
}
#logo-pie{
    width: 5%;
    height: 70%;
    
}
#logo-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    color: white;
}



/* MEDIA */


@media (min-width: 770px) and (max-width:1079px){

#carouselExampleIndicators{
    display: none;
}
#novedades{
    height: 60vw;
    width: 100vw;
}
#novedades img{
    width: 35vw;
    height: 55vh;
}
#banner1:hover #banners1{
    transition: none;
    transform: none;
}#banner2:hover #banners2{
    transition: none;
    transform: none;
}#banner3:hover #banners3{
    transition: none;
    transform: none;
}

#destacado{
    width: 100vw;
    height: 30vh;
}
#juego-banner{
    display: none;
}
#destacado-juego{
    width: 30vw;
    height: 33vh;
}
#box-info{
    width: 60vw;
    height: 30vh;
}
.logo-texto2{
    display: none;
}

}


@media (min-width: 360px) and (max-width:769px){
    #novedades{
        display: none; 
    }
    #carouselExampleIndicators{
        display: block;
    }
    #destacado{
        width: 100vw;
        height: 45vh;
        flex-direction: column;
        align-items: center;
        
    }
    #juego-banner{
        display: none;
    }
    #destacado-juego{
        width: 60vw;
        height: 60vh;
        margin-left: 0;

    }
    #info{
        display: none;
    } 
    #ver-mas{
        width: 30vw;
        margin-top: 25%;
    }.logo-texto{
        display: none;
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }
}