
body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-family: Verdana, sans-serif;
}

/* MAIN */


main{
    width: 100%;
    background-color: #0b0b0f;
}
#carouselExampleIndicators{
    display: none;
}
#novedades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#banners1{
    width: 645px;
    transition: 1.0s;
    height: 100%;
}
#banner1:hover #banners1{
    -webkit-transform: scale(1.3);
    transform: scale(1.07);
}
#banner1{
    overflow: hidden;
}
#subtitulo{
    text-align: center;
    color: white; 
    font-size: 30px;
    width: 1050px;
    margin: auto;
    margin-bottom: 25px;
    padding-top: 55px;
    padding-bottom: 32px;
    border-bottom: solid white 2px;
}
#destacado{
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    width: 100%;

}
#destacado-juego{
    margin-left: 30px;
    margin-top: 70px;
    height: 70%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#banner-info{
    display: flex;
    flex-direction: column;
}
#juego-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.destacado-banner{
    width:95%;
    height: 80%;
    transition: 0.2s;
    overflow:hidden;
}
#box-info{
    margin-left: 6%;
    width: 60%;
    height: 20%;
    
}
#info{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
}
#ver-mas{
    height: 48px;
    background-color: #3B5B9C;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    

}
.movimiento-banner:hover .destacado-banner{
    -webkit-transform: scale(1.3);
    transform: scale(1.15);
    transition: 1.5s;
}


/* MEDIA */


@media (min-width: 770px) and (max-width:1079px){

#carouselExampleIndicators{
    display: none;
}
#novedades{
    height: 100%;
    width: 100vw;
}
#novedades img{
    width: 35vw;
    height: 100%;
}
#banner1:hover #banners1{
    transition: none;
    transform: none;
}

#subtitulo{
    width: 90vw;
}

#destacado{
    width: 100%;
    height: 30vh;
    margin-left: 5%;
}
#juego-banner{
    display: none;
}
#destacado-juego{
    width: 20%;
    height: 90%;
    margin-top: 3%;
}
#box-info{
    width: 60vw;
    height: 30vh;
    margin-top: 5%;
}
#info{
    margin-bottom: 5%;
}
.logo-texto2{
    display: none;
}

}


@media (min-width: 360px) and (max-width:769px){
    #novedades{
        display: none; 
    }
    #carouselExampleIndicators{
        display: block;
    }
    #subtitulo{
        width: 60vw;
    }
    #destacado{
        width: 100vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        
    }
    #juego-banner{
        display: none;
    }
    #destacado-juego{
        width: auto;
        height: auto;
        margin: 0 auto;
        align-items: center;


    }
    #info{
        display: none;
    } 
    #ver-mas{
        width: 30vw;
        margin-top: 25%;
    }
    .logo-texto{
        display: none;
    }
    #box-info{
        margin: 0%;
        width: 100%;
        height: 100%;
        
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }
}