*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
    
    
}
main{
    background-color: #131823;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*ofertas*/


/*ofertas {
        
        text-align: center;
        background-color: black;
        color: white;
        font-size: 2vw;
        font-weight: bold;
        box-shadow: 4px 4px rgb(255, 255, 255);
        margin-bottom: 25px;
        padding-top: 12px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 41%;
        margin-right: 41%;
        
    }*/

.titulos{
    text-align: center;
    color: white; 
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 32px;
    border-bottom: solid white 2px;
}

.titulos2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
}
    
/* portada*/

#contenedor-portada{
    display: flex;
    flex-direction: row;



}
#portada{
    height: 400px;
    background-image: url("/img/panoramica1.jpg");
    background-repeat: no-repeat;
    width: 1000vw;
    flex: 0.7;

}
#contenedor-izq{
    flex: 0.5;
    background-color: rgba(8, 8, 8, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
     
}
#info-portada{
    color: white;
    width: 230px;
    flex: 0.7;
    margin-left: 30px;
    
}
#logo-portada{
    width: 200px;
    height: 300px;
    text-align: center;
    flex: 0.4;
    margin-left: 20px;
}
#titulo-portada{
    width: 300px;
    text-align: center;
}
#descrip{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
    text-align: justify;
}



/*catalogo*/




.caja-catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin-left: 7.5%;
}

img{
    width: 200px;
    height: 300px;
}
.juego-catalogo{
    margin: 45px;
    text-decoration: none;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgba(134, 134, 45, 0.41);
    border-end-end-radius: 20px;
    display: none;
}
#redireccionamiento{
    text-decoration: none;
    color: white;
}

/*hover*/
.juego-catalogo:hover{
    transition: 0.5s;
}
.juego-catalogo:hover .info{
    display: block;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 3.0s;
}

/*hover*/

@media (min-width: 360px) and (max-width:769px){
    .logo-texto{
        display: none;
    }
    
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }
   
    .carousel{
        width:50%;
        height:70%;  
}
.fotos-catalogo:hover{
   
    display: none;

}
   
}