*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
    font-family: Verdana, sans-serif;
}

main{
    background-color: #131823;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*ofertas*/


/*ofertas {
        
        text-align: center;
        background-color: black;
        color: white;
        font-size: 2vw;
        font-weight: bold;
        box-shadow: 4px 4px rgb(255, 255, 255);
        margin-bottom: 25px;
        padding-top: 12px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 41%;
        margin-right: 41%;
        
    }*/

.titulos{
    text-align: center;
    color: white; 
    font-size: 30px;
    width: 1050px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 32px;
    border-bottom: solid white 2px;
}


    
/* portada*/
#contenedor-portada{
    background-image: url("/img/bannerback4.jpg");
    height: 45vh;
}
#portada{
    display: none;
}

#banner{
    height: 100%;
    width: 100%;
}
#contenedor-izq{
    background-color: rgba(8, 8, 8, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    width: 50%;
    font-size: 20px;
    height: 100%;
     
}
#info-portada{
    color: white;
    width: 230px;
    flex: 0.7;
    margin-left: 30px;
    
}
#logo-portada.img{
    width: 20%;
    height: 30%;
    text-align: center;
    flex: 0.4;
    margin-left: 20px;
}
#titulo-portada{
    width: 300px;
    text-align: center;
}
#descrip{
    margin-bottom: 20px;
    font-size: 75%;

}
.titulos2{
    font-size: 90%;
    padding-right: 30px;
    text-transform: uppercase;
}
#ver-mas{
    height: 40px;
    width: 80px;
    background-color: #3B5B9C;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    

}



/*catalogo*/




.caja-catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin-left: 7.5%;
}

img{
    width: 200px;
    height: 300px;
}
.juego-catalogo{
    margin: 5%;
    text-decoration: none;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgba(134, 134, 45, 0.41);
    border-end-end-radius: 20px;
    display: none;
}
#redireccionamiento{
    text-decoration: none;
    color: white;
}

/*hover*/
.juego-catalogo:hover{
    transition: 0.5s;
}
.juego-catalogo:hover .info{
    display: block;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 3.0s;
}

/*hover*/

@media (min-width: 770px) and (max-width:1079px){
    .titulos{
        width: 90vw;
    }
    #contenedor-portada{
        background-image: url("/img/bannerback4.jpg");
        height: 45vh;
    }
    #contenedor-izq{
        width: 500px;
    }
    #portada{
        display: none;
    }
}

@media (min-width: 360px) and (max-width:769px){
    #contenedor-portada{
        background-image: none;
    }
    .logo-texto{
        display: none;
    }
    #portada{
        display: none;
    }
    #contenedor-izq{
        width: 100%;
        height: 80%;
    }
    #logo-portada{
        width: 30vw;
        height: 30vh;
    }
    .logo-texto2{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        margin-left: 10px;
    }
    .titulos2{
        margin: 0%;
    }
    .titulos{
        width: 70vw;
    }
    
    .botones-tienda{
        font-size: 12px;
    }
    
    .usuario{
        font-size: 14px;
        margin-right: 10px;
    }
   
    .carousel{
        width:50%;
        height:70%;  
}
.fotos-catalogo:hover{
   
    display: none;

}
   
}