
main{
    margin: 0%;
    padding: 0%;
    background-color: #37383a;
    font-family: Verdana, sans-serif;
    color: white;
}
#contenedor-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 17.6%;
}
#imagenUsuario{
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#nombreUsuario{
    text-transform: uppercase;
}
#ladoDerecho{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}