<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href=".././css/login.css"/>
    <%- include("../partials/head") %>

<body>
    
    <%- include("../partials/header") %>
    
    <main>
       <div class="cajaformulario">   
         
        <% if (typeof errors != "undefined") { %>
            <p style="color:red">ERROR</p> 
            <ul>
                <% for(let i=0; i < errors.length; i++) { %>
                    <li>
                        <%=errors[i].msg %> 
                    </li>
                <% } %>  
            </ul>
            <% } %> 
        <form id="formulario" action="/user/login" method="POST">
            
            <div id="email">
            <label for="email"></label>
            <input type="email" name="email" placeholder="email">
            </div>
            <br>
           
            <div id="password">
            <label for="clave"></label>
            <input type="password" name="clave" placeholder="clave">
            </div>

            <p id="boton-ingreso">
            <button type="submit">Ingresar</button>
            </p>
            
            <p>
            <button id="boton-registro" type="submit" href="/registro">Registrarse</button>
            </p>
        </form>
      </div>
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>