<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="./css/login.css"/>
    <%- include("../partials/head") %>

<body>
    
    <%- include("../partials/header") %>
    
    <main>
       <div class="cajaformulario">
        <img id="logocaja" src="./img/logo.png"></img>   
         
       
        <form id="formulario">
            
            <div id="email">
            <label for="email"></label>
            <input type="email" name="email" placeholder="email">
            </div>
            <br>
           
            <div id="password">
            <label for="clave"></label>
            <input type="password" name="clave" placeholder="contraseña">
            </div>

            <p id="boton-ingreso">
            <button type="submit">Ingresar</button>
            </p>
            </form>
            <p id="boton-registro">
            <a href="/registro.html">Registrarse</a>
            </p>
      </div>
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>