<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav id="nav-bar">
            <!--<img id="logo" src="./img/logo.png"></img>-->
            <p class="logo-texto">METAGAMING</p>
            <p class="logo-texto2">MG</p>
            <section id="botones-center">
                <a href="/tienda.html"><button class="botones-tienda" type="button">TIENDA</button></a>
                <a href="/home.html"><button class="botones-tienda" type="button">NOVEDADES</button></a>
            </section>
            <section id="botones-izq">
                <button class="usuario" type="button"><i class="fas fa-search"></i></i></button>
                <a href="/carrito.html"><button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button></a>
                <a href="/login.html"><button class="usuario" type="button"><i class="fas fa-user-circle"></i></button></a>
            </section>
        </nav> 
    </header>
    
    <main>
       <div class="cajaformulario">
        <img id="logocaja" src="./img/logo.png"></img>   
         
       
        <form id="formulario">
            
            <div id="email">
            <label for="email"></label>
            <input type="email" name="email" placeholder="email">
            </div>
            <br>
           
            <div id="password">
            <label for="clave"></label>
            <input type="password" name="clave" placeholder="contraseña">
            </div>

            <p id="boton-ingreso">
            <button type="submit">Ingresar</button>
            </p>
            </form>
            <p id="boton-registro">
            <a href="/registro.html">Registrarse</a>
            </p>
      </div>
    </main>

    <footer>
      <section id="logo-redes">
          <img id="logo-pie" src="./img/logo.png">
              <section>
                  <button class="redes" type="button"><i class="fab fa-instagram"></i></button>
                  <button class="redes" type="button"><i class="fab fa-youtube"></i></button>
                  <button class="redes" type="button"><i class="fab fa-twitter"></i></button>
              </section>
          </section>
  </footer>
</body>
</html>