<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href=".././css/registro.css"/>
    <%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>
    
      <main>
    
    
    <section class="form-registro">
        <h1>CREA TU USUARIO </h1>

    <h5>Completa tus datos para crear tu cuenta</h3>
    <form method="POST" action="/user/registro" enctype="multipart/form-data">
        <input class="casillero" type="text" name="nombre" id="nombres" placeholder="Nombre y Apellido">
        <input class="casillero" type="email" name="mail" id="email" placeholder="E-mail">
        <input class="casillero" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario">
        <input class="casillero" type="password" name="clave" id="clave" placeholder="clave">
        <input class="casillero" type="file" name="Imagen" id="pais">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a> </p>
        <button class="boton" type="submit">Registrar</button>
        <p><a href="/user/login">Ya Tengo Cuenta</a></p>
    </form>
    </section>
</main>

<%- include("../partials/footer") %>

</body>
</html>
