<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href=".././css/registro.css"/>
    <%- include("../partials/head") %>

<body>

        <%- include("../partials/header") %>
        
    <main>
        
        <h3 class="titulos">Crea tu usuario</h3>
        <div class="flex-contenedor">

            <form id="formulario" method="POST" action="/user/registro" enctype="multipart/form-data">
                
                <div class="formularios">
                    <input class="input-formulario" type="text" name="nombre" id="nombres" placeholder="Nombre y Apellido">
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="email" name="mail" id="email" placeholder="E-mail">
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario">
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="password" name="clave" id="clave" placeholder="clave">
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagen" id="pais">
                </div>

                <p class="boton-ingreso">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </p>

                <p class="subtitulos">
                    <a href="/user/login">Ya Tengo Cuenta</a>
                </p>

            </form>

        </div>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>
