<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="./css/detalle.css"/>
    <%- include("../partials/head") %>

<body>
    
    <%- include("../partials/header") %>

    <main>
        <div id="productos">
            <section id="lado-izquierdo">
                <section id="container-slider">
                    <ul id="sliders">
                        <li id="slider1">
                            <img class="foto-producto" src="./img/oferta2.jpg">
                        </li>
                        <li id="slider2">
                            <img class="foto-producto" src="./img/oferta3.jpg">
                        </li>
                        <li id="slider3">
                            <img class="foto-producto" src="./img/oferta4.jpg">
                        </li>
                        <li id="slider4">
                            <img id="foto-producto" src="./img/oferta5.jpg">
                        </li>
                        <li id="slider5">
                            <img class="foto-producto" src="./img/oferta6.jpg">
                        </li>
                        <li id="slider6">
                            <img class="foto-producto" src="./img/oferta7.jpg">
                        </li>
                        <li id="slider7">
                            <img class="foto-producto" src="./img/oferta8.jpg">
                        </li>
                    </ul>
                    <ul id="menu-sliders">
                        <li>
                            <a href="#slider1"></a>
                        </li>
                        <li>
                            <a href="#slider2"></a>
                        </li>
                        <li>
                            <a href="#slider3"></a>
                        </li>
                        <li>
                            <a href="#slider4"></a>
                        </li>
                        <li>
                            <a href="#slider5"></a>
                        </li>
                        <li>
                            <a href="#slider6"></a>
                        </li>
                        <li>
                            <a href="#slider7"></a>
                        </li>
                    </ul>   
                     
                </section>
                <section id="caja-info">
                    <h1 id="titulo-juego">Frostpunk</h1>
                    <br>
                    <h3 class="info-juego">Acerca del juego</h3>
                    <p class="info-juego">Frostpunk, el título más reciente de los creadores de This War of Mine, es un juego de supervivencia en sociedad donde el calor es fuente de vida y cada decisión tiene un precio. En un mundo totalmente congelado, la humanidad ha desarrollado una tecnología basada en el vapor para hacer frente al frío implacable. Tu tarea consiste en construir la última ciudad de la Tierra y conseguir los recursos necesarios para que tu comunidad sobreviva.</p>
                    <p class="info-juego" id="info2">La gestión de recursos y su optimización a menudo chocan con la empatía y con las decisiones razonables. Aunque la administración de la ciudad y de su sociedad consume la mayor parte del tiempo del gobernante, llega un punto en el que se hace necesario explorar el mundo exterior para comprender su historia y su situación actual.
                    ¿Qué decisiones tomarás para asegurar la supervivencia de tu sociedad? ¿Qué harás cuando estés entre la espada y la pared? ¿En qué te convertirás durante el proceso?</p>     
                    <br>
                    <article id="especificaciones-caja">
                        <section id="especificaciones">
                            <ul class="info-juego">
                                <li>11 bit studios</li>
                                <li><i class="fab fa-windows"></i> Windows 7/8/10 de 64 bits</li>
                                <li>4 GB de RAM</li>
                                <li>8 GB de espacio disponible</li>
                            </ul>
                        </section>  
                        <section id="especificaciones">
                            <ul class="info-juego">
                                <li>Procesador Dual Core a 3,2 GHz</li>
                                <li>GeForce GTX 660, Radeon R7 370 o equivalente con 2 GB de VRAM</li>
                                <li>idioma: inglés</li>
                            </ul>
                        </section>
                    </article>
                </section> 
            </section>     
            <section id="lado-derecho">  
                    <img id="logo-producto" src="./img/oferta1.jpg">
                    <p id="precio">$1498</p>
                    <button id="comprar" type="button">comprar</button>
                    <br>
                    <a href="/carrito"><button id="agregar-carrito" type="button">agregar al carrito</button></a>
            </section> 
        </div> 
        <div>
            <h3 id="titulo-similares">Productos similares</h3>
            <section id="productos-similares">
                <section class="similares">
                    <img class="foto-similar" src="./img/similar1.jpg">
                        <section class="info-similares">
                            <h4 class="datos-similares">Metro exodus</h4>
                            <p>$1349</p>
                        </section>    
                </section>
                <section class="similares">
                    <img class="foto-similar" src="./img/similar2.jpg">
                        <section class="info-similares">
                            <h4>Valheim</h4>
                            <p>$860</p>
                        </section>
                </section>
                <section class="similares">
                    <img class="foto-similar" src="./img/similar3.jpg">                    
                        <section class="info-similares">    
                            <h4>Zomboid</h4>
                            <p>$1213</p>
                        </section>
                </section>
                <section class="similares">
                    <img class="foto-similar" src="./img/similar4.jpg">                    
                        <section class="info-similares">    
                            <h4>Fallout</h4>
                            <p>$350</p>
                        </section>
                </section>
            </section>
            <br>
        </div>     
    </main>
    
    <%- include("../partials/footer") %>
    
</body>
</html>