<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href=".././css/crearProducto.css"/>
    <%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>

    <main>

        <h3 class="titulos">Crear producto</h3>
        <div class="flex-contenedor">

            <form id="formulario" method="POST" action="/product/crear" enctype="multipart/form-data">
            
                <div class="formularios">
                    <input class="input-formulario" type="text" name="titulo" placeholder="Título">
                </div>

                <div class="formularios">
                    <input class="input3-formulario" type="number" name="precio"> Precio en $ARS </input>
                </div>
                
                <div class="formularios">
                    <input class="input3-formulario" type="number" name="descuento"> Descuento </input>
                </div>

                <div class="formularios">
                    <textarea class="input2-formulario" name="descripcion" placeholder="Descirpción"></textarea>
                </div>

                <div class="formularios">
                    <input class="input-formulario" type="file" name="Imagen">
                </div>

                <p class="boton-ingreso">
                    <button type="submit" class="btn btn-success">Crear</button>
                </p>

            </form>
      </div>
        
    </main>

    <%- include("../partials/footer") %>
</body>
</html>