
    <header>
        <nav id="nav-bar">
            <!--<img id="logo" src="./img/logo.png"></img>-->
            <p class="logo-texto">METAGAMING</p>
            <p class="logo-texto2">MG</p>
            <section id="botones-center">
                <a href="/tienda"><button class="botones-tienda" type="button">TIENDA</button></a>
                <a href="/home"><button class="botones-tienda" type="button">NOVEDADES</button></a>
            </section>
            <section id="botones-izq">
                <button class="usuario" type="button"><i class="fas fa-search"></i></i></button>
                <a href="/carrito"><button class="usuario" type="button"><i class="fas fa-shopping-cart"></i></button></a>
                <a href="/login"><button class="usuario" type="button"><i class="fas fa-user-circle"></i></button></a>
            </section>
        </nav> 
    </header>
